.main{
    
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.container2{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.subContainer {
    margin-bottom: 30px;
}

.container p, .container p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.container button {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}


.container button:hover {
    background-color: #677bc4;
}

.container h3, .container2 h3{
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.container ul, .container2 ul{
    list-style-type: none;
    padding-left: 0;
}

.container li, .container2 li{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.7rem;
    margin: 2rem auto;
    color: white;
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 50%;
}

.hrLine {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.subContainer2 {
    margin-bottom: 50px;
}

.subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textContainer h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-style: italic;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .container h3 {
        font-size: 22px;
    }

    .container button {
        padding: 10px 20px;
        font-size: 14px;
    }
    h1 {
        font-size: 2.5rem;
        width: 70%;
    }
}

@media (max-width: 480px) {
    .container h3 {
        font-size: 20px;
    }

    .container li {
        font-size: 14px;
    }

    h1 {
        font-size: 2.5rem;
        width: 50%;

    }
}
